body {
	font-family: "Poppins", sans-serif;
}
@font-face {
	font-family: "Poppins";
	src: url(/fonts/Poppins-Light.otf);
}
@font-face {
	font-family: "Poppins";
	font-weight: 700;
	src: url(/fonts/Poppins-SemiBold.otf);
}
@font-face {
	font-family: "Ratofy";
	src: url(/fonts/Ratofy.otf);
}
